<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Communication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Communication.Properties.Settings>
            <setting name="PC_Address" serializeAs="String">
                <value>192.168.32.200</value>
            </setting>
            <setting name="Pi_Address" serializeAs="String">
                <value>192.168.32.100</value>
            </setting>
            <setting name="PortA" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="PortB" serializeAs="String">
                <value>50001</value>
            </setting>
            <setting name="localhost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </Communication.Properties.Settings>
    </userSettings>
</configuration>